<div class='container'>
    <nav class='navbar bg-body-tertiary'>
        <div class='container-fluid'>
            <a href='/' class='navbar-brand'>TL</a>
            <div>
                <a href='/courses/create' class='h6'> tạo khoá học </a>
                <a href='/me/stored/courses' class='ml-2 h6'> sửa khoá học </a>

            </div>
        </div>
    </nav>
</div>